/*
filename: People Health Pharmecy
author: Anis, Eamonn, Jonno, Leonard
created: 22/09/2021
last modified: 22/09/2021
*/

/*body*/
body{
    background-color:rgba(90, 180, 240, 0.925);
    text-align: center;  
   
  }
  /*avatarimage*/
 #Avatar{
  width: 36%;
  }

    /*Form adjustment*/
    #ordering_form{
      max-width:300px;
      height: 340px;
      margin: auto;
      margin-top: 100px;
      padding-top: 0px;
      padding-bottom: 3.5%;
      padding-left: 2.5%;
      padding-right: 2.5%;
      border-radius: 20px;
      border: none;
      background-color: rgba(216, 232, 233, 0.938);
    }
    
        #addSalesNavi{
      margin-top: 30px;
      float: left;
      border-radius: 20px;
      padding: 20px;
      color: aliceblue;
      max-width:110px;
      height: 110px;
      border-color: black;
      margin-left: 30px;
      background-color: grey;
      }

      #returnHomeNavi {
        margin-top: 10px;
        float: right;
        border-radius: 20px;
        padding: 20px;
        color: aliceblue;
        max-width:110px;
        height: 110px;
        border-color: black;
        margin-right: 30px;
        background-color: grey;
      }

      
  /*Logout Button*/
    #logoutButton{
      background-color: orange;
    float: left;
      clear: both;
      margin-top: 30px;
      margin-left: 120px;
  
    }
    #logoutButton:hover{
      background-color: rgba(255, 115, 0, 0.918);
    }