/*
filename: People Health Pharmecy
author: Anis, Eamonn, Jonno, Leonard
created: 22/09/2021
last modified: 22/09/2021
*/

/*body*/
html {
  min-height: 100%;
  background: rgb(41,58,89);
  background: linear-gradient(125deg, rgba(41,58,89,1) 0%, rgba(29,36,59,1) 100%);
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
}

/*body*/
 body{
   margin-top: 20px;
   font-family: 'Open Sans', sans-serif;
   text-align: center;
 }

   /*Login avatarimage*/
   #loginAvatar{
   width: 10%;
   }

   /*Logout Button*/
     #logoutButton{
       background-color: orange;
       float: right;
       margin-right: -30px;
       margin-top: -10px;
     }
     #logoutButton:hover{
       background-color: orangered;
    }

 /*Sales View Table*/

#table_container {
  overflow-x: auto;
}

 #salesViewTable, tr, td{
      border: 1px solid rgb(255, 255, 255);
      background-color: rgb(235, 235, 235);
      border-collapse: collapse;
      margin-top: 30px;
      padding:10px;
    }

   th{
      border: 1px solid rgb(255, 255, 255);
      background-color: rgb(170, 170, 170);
      border-collapse: collapse;
      padding:10px;
  }
  #salesViewTableGray{
    background-color: rgb(212, 212, 212);
  }


#main_section {
  max-width: 1400px;
  margin: auto;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 1.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
#tableSection{
  background-color: rgb(207, 213, 214);
  padding: 10px;
  border-radius: 13px;
  margin: 50px;
}
#addButton{
 display: inline-block;
 font-size: larger;
}


#delete{
float: left;
 clear: both;

}

#edit{
  float: left;
  margin-left: 100px;

}
#editDate{

display: inline-block;

}

#backButton{
  margin-top:110px;
  margin-left: 510px;
  margin-right: -50px;

}
