/*
filename: People Health Pharmecy
author: Anis, Eamonn, Jonno, Leonard
created: 22/09/2021
last modified: 22/09/2021
*/

html {
  min-height: 100%;
}

/*body*/
 body{
   margin-left:300px;
   margin-right:300px;
   margin-top: 20px;
   font-family: 'Open Sans', sans-serif;
   background: rgb(41,58,89);
   background: linear-gradient(125deg, rgba(41,58,89,1) 0%, rgba(29,36,59,1) 100%);
   text-align: center;
 }

   /*Login avatarimage*/
   #Avatar{
    margin-right: -60px;

   }
   /*Logout Button*/
     #logoutButton{
       margin-top: 10px;
       margin-right: -10px;
       float: right;
       clear: left;
       background-color: orange;

     }
     #logoutButton:hover{
       background-color: orangered;
    }

  /*addSale Button*/
  #addSale{
    background-color: #11ca00;
    color: white;
    border: none;
    margin-top: 30px;
    padding: 10px;
    width: 50%;
    height: 50%;
    border-radius: 3px;
  }
  /*Button hover*/
  #addSale:hover{
    background-color: #16e0049d;
  }

    /*Field */
    #add_sale_Field input{


      padding: 20px;
      margin:10px;
      width: 75%;
      height: 50%;
      border-radius: 3px;
      border: none;
    }

    /*Form adjustment*/
  #add_sales_form{

  padding-top: 0px;
  padding-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

#add_sale_Field{

  border-radius: 3px;
  border: none;

}
