/*
filename: People Health Pharmecy
author: Anis, Eamonn, Jonno, Leonard
created: 10/09/2021
last modified: 27/09/2021
*/

html {
  min-height: 100%;
}

/*body*/
 body{
   font-family: 'Open Sans', sans-serif;
   background: rgb(41,58,89);
   background: linear-gradient(125deg, rgba(41,58,89,1) 0%, rgba(29,36,59,1) 100%);
   text-align: center;
 }

/*Form Fieldset adjustment*/
fieldset{
  max-width:320px;
  height: 450px;
  margin: auto;
  padding-top: 0px;
  padding-bottom: 70px;
  padding-left: 50px;
  padding-right: 50px;

  border-radius: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Form input*/
#loginField input{
  padding: 8px;
  margin:auto;
  width: 90%;
  border-radius: 3px;
  border: none;
}

/*Form*/
#formSection
{
  margin-top: 100px;
}
/*loginpage*/
  /*Login Button*/
    #loginButton{
      background-color: #11ca00;
      color: white;
      border: none;
    }
    /*Button hover*/
    #loginButton:hover{
      background-color: #16e0049d;

    }
  /*Login avatarimage*/
  #loginAvatar{
  width: 36%;
  }

/*homepage*/
  /*Navigation Buttons*/
    /*add sales button*/
    #addSalesNavi{
      background-color: grey;
      font-size: 24px;
    }
    #addSalesNavi:hover{
      background-color: rgb(68, 66, 66);
      font-size: 24px;
    }
    /*return Home button*/
    #returnHomeNavi{
      background-color: grey;
      font-size: 24px;
    }
    #returnHomeNavi:hover{
      background-color: rgb(68, 66, 66);
      font-size: 24px;
    }
    /*View Sales Button*/
    #viewReportsNavi{
      background-color: grey;
      font-size: 24px;
    }
    #viewReportsNavi:hover{
      background-color: rgb(68, 66, 66);
      font-size: 24px;
    }
  /*Logout Button*/
    #logoutButton{
      background-color: orange;
    }
    #logoutButton:hover{
      background-color: rgba(255, 115, 0, 0.918);
    }
 /*add sale page*/
    /*Add Sale Button*/
    #addSale{
      background-color: #11ca00;
      color: white;
      border: none;

    }
    /*Button hover*/
    #addSale:hover{
      background-color: #16e0049d;

    }
