/*
filename: People Health Pharmecy
author: Anis, Eamonn, Jonno, Leonard
created: 10/09/2021
last modified: 13/09/2021
*/

/*body*/
 body{
   background-color:rgba(90, 180, 240, 0.925);
   text-align: center;
 }

/*Form Fieldset adjustment*/
fieldset{
  max-width:300px;
  height: 390px;
  margin: auto;
  padding-top: 0px;
  padding-bottom: 3.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;

  border-radius: 20px;
  border: none;
  background-color: rgba(216, 232, 233, 0.938);
}

/*Form input*/
#loginField input{
  padding: 8px;
  margin:auto;
  width: 90%;
  border-radius: 3px;
  border: none;
}

/*Form*/
#formSection
{
  margin-top: 100px;
}
/*loginpage*/ 
  /*Login Button*/
    #loginButton{
      background-color: #11ca00;
      color: white;
      border: none; 
      
    }
    /*Button hover*/
    #loginButton:hover{
      background-color: #16e0049d;

    }
  /*Login avatarimage*/
  #loginAvatar{
  width: 36%;
  }

/*homepage*/  
  /*Navigation Buttons*/
    /*add sales button*/
    #addSalesNavi{
      background-color: grey;
      font-size: 24px;
    }
    #addSalesNavi:hover{
      background-color: rgb(68, 66, 66);
      font-size: 24px;
    }
    /*return Home button*/
    #returnHomeNavi{
      background-color: grey;
      font-size: 24px;
    }
    #returnHomeNavi:hover{
      background-color: rgb(68, 66, 66);
      font-size: 24px;
    }
    /*View Sales Button*/
    #viewReportsNavi{
      background-color: grey;
      font-size: 24px;
    }
    #viewReportsNavi:hover{
      background-color: rgb(68, 66, 66);
      font-size: 24px;
    }
  /*Logout Button*/
    #logoutButton{
      background-color: orange;
    }
    #logoutButton:hover{
      background-color: rgba(255, 115, 0, 0.918);
    }
 /*add sale page*/
    /*Add Sale Button*/
    #addSale{
      background-color: #11ca00;
      color: white;
      border: none; 
      
    }
    /*Button hover*/
    #addSale:hover{
      background-color: #16e0049d;

    }