/*
filename: People Health Pharmecy
author: Anis, Eamonn, Jonno, Leonard
created: 22/09/2021
last modified: 22/09/2021
*/
/*body*/
html {
  min-height: 100%;
}
/*body*/
body{
  font-family: 'Open Sans', sans-serif;
  background: rgb(41,58,89);
  background: linear-gradient(125deg, rgba(41,58,89,1) 0%, rgba(29,36,59,1) 100%);
  text-align: center;
  }
  /*avatarimage*/
 #Avatar{
  width: 36%;
  }

    /*Form adjustment*/
    #ordering_form{
      max-width:300px;
      height: 340px;
      margin: auto;
      margin-top: 100px;
      padding-top: 0px;
      padding-top: 0px;
      padding-bottom: 70px;
      padding-left: 50px;
      padding-right: 50px;
      border-radius: 20px;
      border: none;
      background-color: rgba(255, 255, 255, 0.8);
    }

        #addSalesNavi{
      margin-top: 30px;
      float: left;
      border-radius: 20px;
      padding: 20px;
      color: aliceblue;
      max-width:110px;
      height: 110px;
      border-color: black;
      margin-left: 30px;
      background-color: grey;
      }

      #returnHomeNavi {
        margin-top: 10px;
        float: right;
        border-radius: 20px;
        padding: 20px;
        color: aliceblue;
        max-width:110px;
        height: 110px;
        border-color: black;
        margin-right: 30px;
        background-color: grey;
      }


  /*Logout Button*/
    #logoutButton{
      background-color: orange;
    float: left;
      clear: both;
      margin-top: 30px;
      margin-left: 120px;

    }
    #logoutButton:hover{
      background-color: rgba(255, 115, 0, 0.918);
    }
