/*
filename: People Health Pharmecy
author: Anis, Eamonn, Jonno, Leonard
created: 22/09/2021
last modified: 22/09/2021
*/

/*body*/
html {
  min-height: 100%;
}

/*body*/
 body{
   margin-top: 100px;
   font-family: 'Open Sans', sans-serif;
   background: rgb(41,58,89);
   background: linear-gradient(125deg, rgba(41,58,89,1) 0%, rgba(29,36,59,1) 100%);
   text-align: center;
 }

   /*Login avatarimage*/
   #loginAvatar{
   width: 10%;
   }

   /*Logout Button*/
     #logoutButton{
       background-color: orange;
       float: right;
     }
     #logoutButton:hover{
       background-color: orangered;
    }

 /*Sales View Table*/


 #salesViewTable, tr, td{
      border: 1px solid rgb(255, 255, 255);
      background-color: rgb(235, 235, 235);
      border-collapse: collapse;
      margin-top: 30px;
      padding:10px;
    }

   th{
      border: 1px solid rgb(255, 255, 255);
      background-color: rgb(170, 170, 170);
      border-collapse: collapse;
      padding:10px;
  }
  #salesViewTableGray{
    background-color: rgb(212, 212, 212);
  }


#main_section {
  padding-top: 20px;
  padding-bottom: 3.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
}



#tableSection{
  background-color: rgb(207, 213, 214);
  padding: 10px;
  border-radius: 13px;
  margin: 50px;
}
#addButton{
 display: inline-block;
 font-size: larger;
}
